<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
	
	<div class="form-row">

		<div class="form-group col-12" [ngClass]="aplicaCssErro(nome)">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" id="nome" 
			placeholder="Nome" [(ngModel)]="usuario.nome" name="nome"
			required #nome="ngModel" autocomplete="off">
			<!-- <div>
				{{ nome.className }}
			</div> -->
			
			<!-- <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
				Nome é obrigatório
			</div> -->
			
			<app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório"></app-campo-control-erro>
		</div>
		
		<div class="form-group col-12" [ngClass]="aplicaCssErro(email)">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" 
			placeholder="nome@email.com" [(ngModel)]="usuario.email" name="email"
			required email #email="ngModel">
			
			<app-campo-control-erro [mostrarErro]="verificaValidTouched(email)" msgErro="E-mail é obrigatório"></app-campo-control-erro>
		</div>
		
	</div>
	<div ngModelGroup="endereco">

		<div class="form-row">

			<div class="form-group col-3" [ngClass]="aplicaCssErro(cep)">
				<label for="cep">CEP</label>
				<input type="text" class="form-control" id="cep" ngModel name="cep"
				required #cep="ngModel" (blur)="consultar($event.target.value, f)">
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatório"></app-campo-control-erro>
			</div>
			
			<div class="form-group col-3" [ngClass]="aplicaCssErro(numero)">
				<label for="numero">Número</label>
				<input type="text" class="form-control" id="numero" ngModel name="numero" required #numero="ngModel">
				
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatório"></app-campo-control-erro>
				
			</div>
			
			<div class="form-group col-6" >
				<label for="complemento">Complemento</label>
				<input type="text" class="form-control" id="complemento" ngModel name="complemento" #complemento="ngModel">
			</div>
			
			<div class="form-group col-12" [ngClass]="aplicaCssErro(rua)">
				<label for="rua">Rua</label>
				<input type="text" class="form-control" id="rua" ngModel required name="rua" #rua="ngModel">
				
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatória"></app-campo-control-erro>
			</div>
			
			<div class="form-group col-5" [ngClass]="aplicaCssErro(bairro)">
				<label for="bairro">Bairro</label>
				<input type="text" class="form-control" id="bairro" ngModel name="bairro" #bairro="ngModel" required>
				
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(bairro)" msgErro="Bairro é obrigatório"></app-campo-control-erro>
			</div>
			
			<div class="form-group col-4" [ngClass]="aplicaCssErro(cidade)">
				<label for="cidade">Cidade</label>
				<input type="text" class="form-control" id="cidade" ngModel name="cidade" #cidade="ngModel" required>
				
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatória"></app-campo-control-erro>
			</div>
			
			<div class="form-group col-3" [ngClass]="aplicaCssErro(estado)">
				<label for="estado">Estado</label>
				<input type="text" class="form-control" id="estado" ngModel name="estado" #estado="ngModel" required>
				
				<app-campo-control-erro [mostrarErro]="verificaValidTouched(estado)" msgErro="Estado é obrigatório"></app-campo-control-erro>
			</div>
			
		</div>
			
	</div>
			
	<button type="submit" class="btn btn-primary" [disabled]="!f.valid">
		Submit
	</button>
	
	
</form>
<app-form-debug [form]="f"></app-form-debug>
