<nav *ngIf="mostrarMenu">
	<div class="nav-wrapper">
		<a class="brand-logo right" routerLink="">Rotas ng2</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li routerLinkActive="active">
				<a routerLink="/login">Login</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a>
			</li>
			<!-- <li routerLinkActive="active">
				<a [routerLink]="['curso', idCurso]">Cursos com id</a>
			</li> -->
			<li routerLinkActive="active">
				<a routerLink="/alunos">Alunos</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<!-- <p>Entre com o ID do curso</p>
	<input type="text" [(ngModel)]="idCurso"> -->
	<router-outlet></router-outlet>
</div>