<h1> Exemplo de Pipes </h1>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<!-- Depois dos ":" são os parâmetros que podem ser passados para o pipe -->
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number}}</p>
<p>Preço: {{ livro.preco | currency:'BRL'}}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">

<br><br>

<input type="text" #novoValor > <button (click)="addCurso(novoValor.value)">Add</button>

<h2>Pipe Puro</h2>

<ul>
    <li *ngFor="let livro of livros | filtroArray: filtro">
        {{ livro }}
    </li>
</ul>

<h2>Pipe impuro</h2>

<ul>
    <li *ngFor="let livro of livros | filtroArrayImpuro: filtro ">
        {{ livro }}
    </li>
</ul>

<h2>Maneira correta de fazer filtros</h2>

<ul>
    <li *ngFor="let livro of obterLivros()">
        {{ livro }}
    </li>
</ul>


<p> {{ valorAsync | async }} </p>