<div class="row">
	<div class="col s6">
		
		<p>Lista de alunos</p>
		
		<div class="collection">
			<a class="collection-item" *ngFor="let aluno of alunos" [routerLink]="[aluno.id]">
				{{ aluno.nome }}
			</a>
		</div>
	
	</div>
	<div class="col s6">
		
		<router-outlet></router-outlet>

	</div>
</div>
