<p appFundoAmarelo>
  Texto com fundo amarelo
</p>
<button appFundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse>
  Texto com Highlight quando passo o mouse</p>

<p appHighlight [corPadrao]="'purple'" [hightlightColor]="'green'">
  Texto com Highlight com cores customzizadas
</p>

<p appHighlight [corPadrao]="'purple'" [hightlightColor]="'green'">
  Texto com Highlight com cores customzizadas
</p>

<!-- Criando ngElse, só não botei o mesmo nome, pois atualmente ja existe essa diretiva -->
<div *ngIf="mostrarCursos">
  Lista de Cursos aqui.
</div>
<div *appNgElse="mostrarCursos">
  Não existem cursos para serem mostrados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder Cursos</button>