<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>
<!-- Não existe um else no Angular, então a maneira de fazer isso é negando a outra condição -->
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem mostrados.
</div>
<br>
<!-- Boolean -->
<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<!-- Não existe um else no Angular, então a maneira de fazer isso é negando a outra condição -->
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem mostrados.
</div>

<br>

<button (click)="onMostrarCursos()">
  Mostrar ou esconder cursos
</button>

<br>
<!-- Essa alternativa, é uma explicação sobre tomar cuidado com a manipulação do DOM que acontece com o ngIf,
e isso pode ser custoso, assim perdendo performance-->
<h5>Hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>
<!-- Não existe um else no Angular, então a maneira de fazer isso é negando a outra condição -->
<div [hidden]="mostrarCursos">
  Não existem cursos para serem mostrados.
</div>
