<!-- Diretiva 'formGroup' recebe variavel 'formulario' feita no component.ts -->
<form [formGroup]="formulario" (submit)="onSubmit()">
	
    <div class="form-row">

		<div class="form-group col-12">
			<app-input-field formControlName="nome" [classeCss]="aplicaCssErro('nome')"
			id="nome" label="Nome" [control]="formulario.get('nome')"></app-input-field>
		</div>

	   <!-- <div class="form-group col-12" [ngClass]="aplicaCssErro('nome')">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">

			<app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
		</div> -->
		
		<div class="form-group col-6" [ngClass]="aplicaCssErro('email')">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email" autocomplete="off">

			<app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail é obrigatório"></app-campo-control-erro>
			
			<!-- <app-campo-control-erro [mostrarErro]="verificarEmail()" msgErro="E-mail Inválido"></app-campo-control-erro> -->
			<app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'PENDING'" msgErro="Validando email...">
			</app-campo-control-erro>
			<app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'" msgErro="Email válido!">
			</app-campo-control-erro>
			<app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')" msgErro="Email já cadastrado!">
			</app-campo-control-erro>
		
		</div>

		<div class="form-group col-6" [ngClass]="aplicaCssErro('confirmarEmail')">
			<label for="confirmarEmail"> Confirmar Email</label>
			<input type="email" class="form-control" id="confirmarEmail" placeholder="nome@email.com" formControlName="confirmarEmail">

			<app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')" msgErro="E-mais não são iguais"></app-campo-control-erro>

		</div>
		
	</div>

	
	<div class="form-row" formGroupName="endereco">

		<div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.cep')">
			<label for="cep">CEP</label>
			<input type="text" class="form-control" id="cep" formControlName="cep">

			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório"></app-campo-control-erro>
		</div>

		<div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.numero')">
			<label for="numero">Número</label>
			<input type="text" class="form-control" id="numero" formControlName="numero">
		
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório"></app-campo-control-erro>
		
		</div>
		
		<div class="form-group col-6">
			<label for="complemento">Complemento</label>
			<input type="text" class="form-control" id="complemento" formControlName="complemento">
		</div>
		
		<div class="form-group col-12" [ngClass]="aplicaCssErro('endereco.rua')">
			<label for="rua">Rua</label>
			<input type="text" class="form-control" id="rua" formControlName="rua">
		
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatória"></app-campo-control-erro>
		</div>
		
		<div class="form-group col-5" [ngClass]="aplicaCssErro('endereco.bairro')">
			<label for="bairro">Bairro</label>
			<input type="text" class="form-control" id="bairro" formControlName="bairro">
		
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório"></app-campo-control-erro>
		</div>
		
		<div class="form-group col-4" [ngClass]="aplicaCssErro('endereco.cidade')">
			<label for="cidade">Cidade</label>
			<input type="text" class="form-control" id="cidade" formControlName="cidade">
		
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatória"></app-campo-control-erro>
		</div>
		
		<div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.estado')">
			<label for="estado">Estado</label>
			<select class="form-control" id="estado" formControlName="estado">
				<option *ngFor="let estado of estados" [value]="estado.sigla"> {{ estado.nome }} </option>
			</select>
		
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório"></app-campo-control-erro>
		</div>
	
	</div>

	<div class="form-row">
		<div class="form-group col-6">
			<label for="cargo">Cargo</label>
			<select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
				<option *ngFor="let cargo of cargos" [ngValue]="cargo"> {{ cargo.desc }} </option>
			</select>
		</div>
		
		<div class="form-group col-6">
			<label for="tecnologias">Tecnologias</label>
			<select multiple class="form-control" id="tecnologias" formControlName="tecnologias" size="1">
				<option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome"> {{ tecnologia.desc }} </option>
			</select>
		</div>

		<div class="form-group col-6">
			<label for="newsletter">Newsletter</label>
			<div>
				<div class="custom-control custom-radio custom-control-inline" *ngFor="let item of newsletterOp">
					<input type="radio" id="{{item.valor}}" formControlName="newsletter" [value]="item.valor" class="custom-control-input">
					<label class="custom-control-label" for="{{item.valor}}"> {{ item.desc }} </label>
				</div>
			</div>
		</div>

		<div class="form-group col-12" [ngClass]="aplicaCssErro('termos')">
			<label for="newsletter">Termos</label>
			<div>
				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" class="custom-control-input" id="termos" formControlName="termos">
					<label class="custom-control-label" for="termos">Aceito os termos</label>
				</div>				
			</div>
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" msgErro="Estado é obrigatório"></app-campo-control-erro>
		</div>

		<div class="form-group col-12">
			<label for="frameworks">Frameworks</label>
			<div *ngFor="let item of formulario.get('frameworks').controls; let i = index" formArrayName="frameworks">
				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" class="custom-control-input" id="{{frameworks[i]}}" [formControlName]="i">
					<label class="custom-control-label" [attr.for]="{{frameworks[i]}}">{{ frameworks[i] }}</label>
				</div>				
			</div>
			<app-campo-control-erro [mostrarErro]="verificaValidTouched('frameworks')" msgErro="Selecione 1 Opção"></app-campo-control-erro>
		</div>

	</div>
	
			
	<button type="submit" class="btn btn-primary"> Submit </button>
	<button type="button" class="btn ml-2" (click)="resetar()"> Resetar </button>
	<button type="button" class="btn ml-2" (click)="setarCargo()"> Setar Cargo </button>
	<button type="button" class="btn ml-2" (click)="setarTecnologia()"> Setar Tecnologia </button>
	
</form>
<app-form-debug [form]="formulario"></app-form-debug>
	
