<app-data-binding></app-data-binding>

<!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button> -->

<!-- Se muda o Input Property, somente o ngOnChanges é disparado na mudança -->