<h5>Compartilhando um serviço entre componentes</h5>

<input type="text" #cursoInput>
<button (click)="onAddCurso(cursoInput.value)">
  Add Curso
</button>

<ul>
  <li *ngFor="let curso of cursos">
    {{ curso }}
  </li>
</ul>